<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Zarządzanie magazynem</title>
</head>
<body>
    <h1>Menu</h1>
    <div class="calosc">
    <div class="lewy">
        <button onclick="window.location.href='http://127.0.0.1:5000/magazyn';">Stwórz magazyn</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/dzial';">Dodaj dział</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/polka';">Dodaj półkę</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/przedmiot';">Dodaj przedmiot</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/klient';">Dodaj klienta</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/wozek';">Dodaj wozek</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/pracownik';">Dodaj pracownika</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/transakcja';">Dodaj transakcje</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/dzialosoba';">Przypisz osobę do działu</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/przedtrans';">Przypisz przedmiot do transakcji</button>
    </div>
    <div class="prawy">
        <button onclick="window.location.href='http://127.0.0.1:5000/magazyny';">Lista magazynów</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/dzialy';">Lista dzialów</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/polki';">Lista dostępnych półek</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/przedmioty';">Wszystkie przedmioty</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/klienci';">Lista klientów</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/wozki';">Dostępne wozki</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/pracownicy';">Lista pracowników</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/transakcje';">Lista transakcji</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/dzialosoby';">Osoby i odpowiadające im działy</button>
        </br></br>
        <button onclick="window.location.href='http://127.0.0.1:5000/przedtransakcji';">Przedmioty w transakcjach</button>
    </div>
    </div>
</body>
</html>