<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Zarządzanie magazynem</title>
</head>
<body>
    <h1>Menu</h1>
    <div class="calosc">
    <div class="lewy">
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/magazyn';">Stwórz magazyn</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/dzial';">Dodaj dział</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/polka';">Dodaj półkę</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/przedmiot';">Dodaj przedmiot</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/klient';">Dodaj klienta</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/wozek';">Dodaj wozek</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/pracownik';">Dodaj pracownika</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/transakcja';">Dodaj transakcje</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/dzialosoba';">Przypisz osobę do działu</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/przedtrans';">Przypisz przedmiot do transakcji</button>
    </div>
    <div class="prawy">
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/magazyny';">Lista magazynów</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/dzialy';">Lista dzialów</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/polki';">Lista dostępnych półek</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/przedmioty';">Wszystkie przedmioty</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/klienci';">Lista klientów</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/wozki';">Dostępne wozki</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/pracownicy';">Lista pracowników</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/transakcje';">Lista transakcji</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/dzialosoby';">Osoby i odpowiadające im działy</button>
        </br></br>
        <button onclick="window.location.href='https://dbflask.azurewebsites.net/przedtransakcji';">Przedmioty w transakcjach</button>
    </div>
    </div>
</body>
</html>
