<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Magazyn</title>
</head>
<body>
    <h1>Stwórz magazyn</h1>
    <div>
        <form method="POST">
            <p>Nazwa</p>
            <input type = "text" name="nazwa" required/><br/>
            <p>Kraj</p>
            <input type = "text" name="kraj" required/>
            <p>Miasto</p>
            <input type = "text" name="miasto" required/>
            <p>Ulica</p>
            <input type = "text" name="ulica" required/>
            <p>Numer</p>
            <input type = "text" name="numer" required/>
            <p>Kod</p>
            <input type = "text" name="kod" required/>
            <br/><br/>
            <button type="submit">Wprowadź dane</button>
            <br/><br/>
        </form>
        <button onclick="window.location.href='http://127.0.0.1:5000/';">Wróć do serwisu</button>
    </div>
</body>
</html>