<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Półka</title>
</head>
<body>
    <h1>Dodaj półkę</h1>
    <div>
        <form method="POST">
            {% if mags %}
            <select name="wybranymag" selected value="{{mags[0][0]}}">
                {% for row in mags %}
                    <option value="{{row[1]}}">{{row[1]}}</option>
                {% endfor %}
            </select>
            {% else %}
            <div>
                Brak magazynów. Stwórz magazyn, by móc dodać do niego dział.
            </div>
            {% endif %}
            {% if dzialy %}
            <select name="wybranydzial" selected value="{{dzialy[0][0]}}">
                {% for row in dzialy %}
                    <option value="{{row[0]}}">{{row[0]}}</option>
                {% endfor %}
            </select>
            {% else %}
            <div>
                Brak działów w magazynie. Stwórz dzial, by móc dodać do niego półkę.
            </div>
            {% endif %}
            <p>Numer regału</p>
            <input type = "number" name="regal" required/> </br>
            <p>Numer półki</p>
            <input type = "number" name="polka" required/>
            <br/><br/>
            <button type="submit">Wprowadź dane</button>
            <br/><br/>
        </form>
        <button onclick="window.location.href='http://127.0.0.1:5000/';">Wróć do serwisu</button>
    </div>
</body>
</html>