<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Pracownik</title>
</head>
<body>
    <h1>Dodaj pracownika</h1>
    <div>
        <form method="POST">
            {% if mags %}
            <select name="wybranymag" selected value="{{mags[0][0]}}">
                {% for row in mags %}
                    <option value="{{row[1]}}">{{row[1]}}</option>
                {% endfor %}
            </select>
            {% else %}
            <div>
                Brak magazynów. Stwórz magazyn, by móc dodać do niego dział.
            </div>
            {% endif %}
            <p>Imię</p>
            <input type = "text" name="imie" required/>
            <p>Nazwisko</p>
            <input type = "text" name="nazwisko" required/>
            <p>Rola</p>
            <select name="rola" selected value=0>
                    <option value="0">Brak</option>
                    <option value="1">Stażysta</option>
                    <option value="2">Szeregowy pracownik</option>
                    <option value="3">Kierownik</option>
            </select>
            <br/><br/>
            <button type="submit">Wprowadź dane</button>
            <br/><br/>
        </form>
        <button onclick="window.location.href='http://127.0.0.1:5000/';">Wróć do serwisu</button>
    </div>
</body>
</html>