<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='magazyn.css')}}">
    <title>Transakcje</title>
</head>
<body>
    <h1>Wszystkie Transakcje</h1>
    <div>
        {% if klienci %}
        {% for key in klienci %}
            <table class="dzialy" >
            <tr style="background-color:rgb(235, 235, 172)"><td>{{key}}:</td></tr>
            {% for i in klienci[key] %}
                {% for j in trans %}
                    {% if i == j[1] %}
                    <tr><td>{{j[2]}}</td></tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br/>
        {% endfor %}
        </table>
    {% else %}
        <div >
            Brak transakcji
        </div>
    {% endif %}
    <br/>
    <button onclick="window.location.href='https://dbflask.azurewebsites.net/';">Wróć do serwisu</button>
    </div>
</body>
</html>
